
.skills_section{
    position: relative;
}

.skills_section .img{
    background-image: url('../../assets/images/pro-bg.png');
    background-size:contain;
    background-repeat: no-repeat;
   
}


.skills_section .img-2{
    position: absolute;
    left: 32%;
}

.skills_section .img-3{
    position: absolute;
    left: 0px;
    top: 18%;
}

.skills_icons{
    font-size: 30px;
    padding: 10px; 
}

.skills_icons p{
    font-size: 20px;
    padding: 10px;
}

.skills_content span{
    padding: 5px 25px;
    background-color: palegreen;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}



@media (max-width:980px) {
    .img .img-1{
        width: 50%;
    }
    .skills_section .img-2{
        visibility: hidden;
    }
    .skills_section .img-3{
        visibility: hidden;
    }
  
}