#footer{
    background-color: #181818;
    color:white;
}
/* 
.social-icons{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.social-icons li {
    list-style: none;
    float: left;
    padding: 20px;

} */